
@import "font-awesome.less";

@defaultSize: 62.5%;

@size36em: 3.6em;
@size24em: 2.4em;
@size18em: 1.8em;
@size14em: 1.4em;
@size12em: 1.2em;

@background-header-img: #99e1e8;

// ----------------

@outline: 1px dotted #000000;
@outline-read: 1px dotted #0000ff;
@outline-grean: 1px dotted #008040;

// ----------------

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

// ----------------
.center1177{
	width: 1177px;
	margin: 0 auto;
}

body{
	margin: 0;
	padding: 0;
	font-size: @defaultSize;
}

.wrapper{
	outline: 1px dotted #000;     /*outline*/
	width: 1600px;
	margin: 0 auto;
}

// ====================
header{
	padding-top: 90px;
	background: @background-header-img url("../img/header-img.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

// ====================
.header__center{
	outline: @outline;
	.center1177;
}

// =====================

.header__nav{
	outline: @outline;
	width: 100%;
	height: auto;
	margin-bottom: 200px;
}
// ------------------

.nav__logo{
	display: block;
	width: 80px;
	height: auto;

	float: left;

	a{
		outline: @outline-read;
		display: block;
		width: 100%;
		height: auto;
		text-decoration: none;
		font-size: 0;

		img{
			width: 80px;
			height: 80px;
		}
	}
}

// -----------------------

@menu-width: 31px;

.nav__menu{
	outline: 1px dotted #000;
	width: @menu-width;
	height: auto;
	padding-top: 32px;
	cursor: pointer;

	float: right;
	position: relative;

	
	:before{
		content: @fa-var-reorder;
		width: @menu-width;
		height: 22px;
		position: absolute;
		top: 0;
		left: 0;
		font-size: @size24em;
	}

	span{
		font-size: @size12em;
		text-transform: uppercase;
		margin-top: 10px;
	}
}

.nav__list{
	outline: @outline-grean;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 80px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}