@defaultSize: 62.5%;

@size36em: 3.6em;
@size24em: 2.4em;
@size21em: 2.1em;
@size18em: 1.8em;
@size14em: 1.4em;
@size12em: 1.2em;

@background-header-img: #99e1e8;
@background-instagram: #3f729b;
@background-music: #282b2f;
@music-box-background: #212227;

@outline: 1px dotted #000000;
@outline-read: 1px dotted #0000ff;
@outline-grean: 1px dotted #008040;

@color-text: #666;
@color-white: #fff;
@color-a: #f9f9f9;
@color-a-hover: #FF8000;
@color-music-grean: #2ebd59;

@menu-width: 40px;
@margin35: 30px;
@margin45: 45px;
@width1600: 1600px;
@width400: @width1600/4;
@width260: 260px;
@width-music-box: 345px;
@height900: 900px;
@padding-top140: 140px;

@left53: 56px;

@inline-block-collapse: -3px;